<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.baston105">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Baston105">
        <activity
            android:name=".EditTreatment"
            android:exported="false" />
        <activity
            android:name=".AddTreatment"
            android:exported="false" />
        <activity
            android:name=".ExtraTreatment"
            android:exported="false" />
        <activity
            android:name=".AddEvent"
            android:exported="false" />
        <activity
            android:name=".EditEvent"
            android:exported="false" />
        <activity
            android:name=".GuardBook"
            android:exported="false" />
        <activity
            android:name=".EditPatient"
            android:exported="false" />
        <activity
            android:name=".AddPatient"
            android:exported="false" />
        <activity
            android:name=".PatientList"
            android:exported="false" />
        <activity
            android:name=".Patient"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>